<!DOCTYPE html>
<html>
    <head>
        <title>Unit</title>
    </head>

    <body>
        {% if unit_name %} 
            {% if alive %}
                <h1>{{ unit_name }}</h1>
            {% else %}
                <h1>The late {{ unit_name }}</h1>
            {% endif %}

            {% if unit_owner %}
                Owner: {{ unit_owner }}
            {% else %}
                Owner: None
            {% endif %}

            <br>

            {% if unit_current_city %}
                Location: {{ unit_current_city }}
            {% else %}
                Location: None
            {% endif %}

            <br>
            {% if unit_target_city %}
                Destination: {{ unit_target_city }}
            {% else %}
                Destination: None
            {% endif %}

            <form action="{% url 'orders' unit_name %}" method = "post">
            {% csrf_token %}
            {% for city in city_names %}
            <input type="radio" name="city" id="city{{ forloop.counter }}" value ={{ choice.id }}" />
            <label "city">{{ city }}</label><br />
            {% endfor %}
            <input type="submit" value="Change destination" />
            <form>

        {% else %}
            <strong> This unit does not exist!</strong>
        {% endif %}
    </body>
</html>
